.env
.vscode
.venv 
__pycache__/
*.log
logs/
patches/
test.py.orig
*.new
*.rej
patch.diff
.pytest_cache/
temp/
archives/
temp_diff/
runs/
.coverage*
mock_run_dir/
vcr_cassettes/
fixtures/
.DS_Store
tests/
dist/
my_engineer.egg-info/
build/
file_summaries.yaml
